<div class="mb-3">
  <label for="title" class="form-label">title</label>
  <input
    type="text"
    name="title"
    required
    value=" <%= article.title %>"
    class="form-control"
    id="title"
  />
</div>
<div class="mb-3">
  <label for="description" class="form-label">description</label>
  <textarea name="description" class="form-control" id="description">
<%= article.description %></textarea
  >
</div>
<div class="mb-3">
  <label for="description" class="form-label">markdown</label>
  <textarea required name="markdown" class="form-control" id="markdown">
<%= article.description %></textarea
  >
</div>
<a href="/" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-primary" class="col-sm">Save</button>
