<div class="mb-3">
  <label for="title" class="form-label">Title</label>
  <input type="text" class="form-control" id="title" />
</div>
<div class="mb-3">
  <label for="description" class="form-label">description</label>
  <textarea name="description" class="form-control" id="description"></textarea>
</div>
<div class="mb-3">
  <label for="description" class="form-label">markdown</label>
  <textarea name="markdown" class="form-control" id="markdown"></textarea>
</div>
<a href="/" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-primary" class="col-sm">Save</button>
